kind: List
metadata: {}
apiVersion: v1
items:
- apiVersion: v1
  kind: BuildConfig
  metadata:
    name: hello-build
  spec:
    output:
      to:
        kind: ImageStreamTag
        name: "hello-openshift:latest"
    source:
      dockerfile: |-
          FROM openshift/hello-openshift
      type: Dockerfile
    strategy:
      dockerStrategy:
        from:
          kind: ImageStreamTag
          name: "hello-openshift-source:latest"
      type: Docker
    triggers:
      - type: ConfigChange
      - imageChange: {}
        type: ImageChange
  - apiVersion: v1
    kind: ImageStream
    metadata:
      name: hello-openshift-source
    spec:
      tags:
        - from:
            kind: DockerImage
            name: openshift/hello-openshift
          name: latest
  - apiVersion: v1
    kind: ImageStream
    metadata:
      name: hello-openshift
{% for item in pods %}
  - apiVersion: v1
    kind: ConfigMap
    data:
      configmap.msg: {{ item.name }}
    metadata:
      name: configmap-{{ item.name }}
  - apiVersion: v1
    kind: DeploymentConfig
    metadata:
      name: {{ item.name }}
    spec:
      replicas: 1
      selector:
        app: {{ item.name }}
        deploymentconfig: {{ item.name }}
      strategy: ~
      template:
        metadata:
          labels:
            app: {{ item.name }}
            deploymentconfig: {{ item.name }}
        spec:
          containers:
            - image: " "
              name: {{ item.name }}
              ports:
                - containerPort: 8080
                  protocol: TCP
                - containerPort: 8888
                  protocol: TCP
              env:
                - name: RESPONSE
                  valueFrom:
                    configMapKeyRef:
                      key: configmap.msg
                      name: configmap-{{ item.name }}
      test: false
      triggers:
        - type: ConfigChange
        - imageChangeParams:
            automatic: true
            containerNames:
              - {{ item.name }}
            from:
              kind: ImageStreamTag
              name: "hello-openshift:latest"
          type: ImageChange
  - apiVersion: v1
    kind: Service
    metadata:
      name: {{ item.name }}
    spec:
      ports:
        - name: web
          port: 80
          protocol: TCP
          targetPort: 8080
      selector:
        app: {{ item.name }}
        deploymentconfig: {{ item.name }}
  - apiVersion: v1
    kind: Route
    metadata:
      name: {{ item.name }}
    spec:
      port:
        targetPort: web
      tls:
        insecureEdgeTerminationPolicy: Allow
        termination: edge
      to:
        kind: Service
        name: {{ item.name }}
{% endfor %}
